* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';

}
.container {
    max-width: 1200px;
    margin: 0% auto;
    width: 100%;
}
.ai_web {
background-image: url("../images/ai.png");
background-repeat: no-repeat;
background-size: cover;
width: 1450px;
height: 820px;
background-position: left;
background-color: blue;
}
.ai_head { width: 999px;
    height: 526px;
    border: 1px solid black;
padding-left: 50px;
border-radius: 24px;
position: relative;
top: 40px;
padding-right: 300px;
right: 50px;

}
.ai_title {
    font-family: Poppins;
font-size: 56px;
font-weight: 700;
line-height: 96px;
text-align: left;
width: 748;
color: #ffffff;
}
.mais {
    font-family: Poppins;
font-size: 64px;
font-weight: 700;
line-height: 96px;
text-align: left;
width: 748;
color: #63E1E1;

}
.ai_desc {
 width: 586;
font-size: 26px;
font-weight: 400;
line-height: 35.52px;
text-align: left;
color: #ffffff;
padding-top: 20px;
}
.ai_button {
    border: 1px solid #63E1E1;
padding-top: 24px;
padding-right: 48px;
padding-bottom: 24px;
padding-left: 48px;
background-color:  #63E1E1;
border-radius: 36px;
text-decoration: none;
color: black;

}
.ai_head {
    background-image: linear-gradient(to right, #0000005C, #00000011); 

}
.ai_foot {
    padding-top: 150px;
    display: flex;
gap: 70px;

}
.planets_title {
  
font-size: 24px;
font-weight: 800;
line-height: 32.78px;
text-align: left;
color: #ffffff;
width: 82px;
padding-top: 2px;
}
.planets_desc {

font-size: 18px;
font-weight: 400;
line-height: 24.59px;
text-align: left;
color: #ffffff;
width: 331;
padding-top: 2px;
}
.ai_foot {
    border: 1px solid white;
  
    border-radius: 32px;
    padding-top: 24px;
    padding-right: 56px;
    padding-bottom: 24px;
    padding-left: 56px;
    position: relative;
    top: 100px;
    right: 35px;
   
    bottom: 30px;
}
.ai_foot {
    background-image: linear-gradient(to right, #0000005C, #00000011); 

}
@media screen and (max-width:800px) { .
.ai_head {
    flex-direction: column;
}
}